<section id="description">
    <div class="container">
        <h1>Hello All</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nulla voluptatem odit doloremque iure tempora
            illum, error amet quo aperiam voluptates. Voluptates aperiam, voluptatibus provident quaerat quidem animi
            nemo dolorum!</p>
    </div>
</section>